database/
bin/
LICENSE
vhs/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build output
bin/
build/
dist/

# Dependency directories
vendor/

# IDE/editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
